<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="NFCUtils.NFCUtils" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="23" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.SET_TIME" />
	<uses-permission android:name="android.permission.SET_TIME_ZONE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_SMS" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.NFC" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<application android:label="NFCUtils" android:theme="@style/AppTheme">
		<activity android:name="MainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"></activity>
		<activity android:name="BluetoothUtilsActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"></activity>
		<activity android:name="TapAndPairActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden" android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.TapAndPairActivity"></action>
			</intent-filter>
		</activity>
		<activity android:name="NfcUtilsActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"></activity>
	</application>
</manifest>